$dark-blue: hsl(209, 23%, 22%); // Dark mode elements
$very-dark-blue: hsl(207, 26%, 17%); // Dark mode background
$very-dark-blue-text: hsl(200, 15%, 8%); // Light mode Text
$dark-gray: hsl(0, 0%, 52%); // Light mode Input
$very-ligh-gray: hsl(0, 0%, 98%); // Light mode background
$white: hsl(0, 0%, 100%); // Dark mode text and light mode element
