$dark-blue: hsl(209, 23%, 22%); // Dark mode elements
$very-dark-blue: hsl(207, 26%, 17%); // Dark mode background
$very-dark-blue-text: hsl(200, 15%, 8%); // Light mode Text
$dark-gray: hsl(0, 0%, 52%); // Light mode Input
$very-ligh-gray: hsl(0, 0%, 98%); // Light mode background
$white: hsl(0, 0%, 100%); // Dark mode text and light mode element

.navbar-container {
  display: flex;
  justify-content: space-around;
  background: $very-ligh-gray;
  border-bottom: rgb(238, 238, 238);
  box-shadow: 0 7px 6px -6px rgb(199, 199, 199);
  .navbar-title {
    padding: 1rem;
  }
  .navbar-btn {
    background: transparent;
    border: transparent;
    display: flex;
    background: url('./images/moon.svg') no-repeat 5px 23px;
    background-size: 20px;
    padding: 1rem 2rem;
    font-weight: 600;
    &:hover {
      cursor: pointer;
    }
  }
}

.filter-container {
  display: flex;
  justify-content: space-between;

  margin: 0.4rem auto;
  padding: 1rem 1rem;
  max-width: 1340px;
  input[type='search'] {
    background: transparent;
    border: transparent;
    box-shadow: 1px 1px 2px 1px rgb(199, 199, 199);
    border-radius: 2px;
    padding: 1rem 4rem;
    background: url(./images/search.svg) no-repeat 6px 7px;
    background-size: 30px;
    width: 35%;
    // &::placeholder {
    //   padding-left: 1rem;
    // }
  }
  .filter-region {
    background: transparent;
    border: transparent;
    box-shadow: 1px 1px 2px 1px rgb(199, 199, 199);
    border-radius: 2px;
    padding: 1rem 2rem;
    width: 15%;
  }
}

.countries-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  max-width: 1440px;
  grid-column-gap: 0.3rem;
  margin: auto;
  .country-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.4rem auto;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    // filter: drop-shadow(0px 5px 3px black);
    max-width: 250px;
    transition: all 500ms ease;
    &:hover,
    &:focus {
      cursor: pointer;
      box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
      transform: translateY(-0.25em);
    }
    .country-card-title {
      padding-bottom: 1rem;
      padding-left: 1rem;
    }
    .country-card-description {
      padding: 0 0 1rem 1rem;
    }
    .country-card-flag {
      border: transparent;
      border-radius: 5px 5px 0 0;
      width: 100%;
      padding-bottom: 1rem;
    }
  }
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 0.7rem;
  }
  .navbar-container {
    justify-content: space-between;
    .navbar-btn {
      background: url('./images/moon.svg') no-repeat 1px 15px;
      background-size: 15px;
    }
  }
  .countries-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: auto 1rem;
  }
  .filter-container {
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;

    input[type='search'] {
      width: 90%;
      margin: 0.5rem 1rem;
      background: url(./images/search.svg) no-repeat 5px 8px;
      background-size: 20px;
    }
    .filter-region {
      width: 50%;
      margin: 1rem 1rem;
    }
  }
}
