@import './components/colors';

@media only screen and (max-width: 1024px) {
  html {
    font-size: 0.7rem;
  }
  .navbar-container {
    justify-content: space-between;
    .navbar-btn {
      background: url('./images/moon.svg') no-repeat 1px 15px;
      background-size: 15px;
      // To get same ish result in Mozilla and Chrome.. Still don't understand..
      line-height: 1.6;
    }
  }
  .countries-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: auto 1rem;
  }
  .filter-container {
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;

    input[type='search'] {
      width: 90%;
      margin: 0.5rem 1rem;
      background: url(./images/search.svg) no-repeat 5px 8px;
      background-size: 20px;
    }
    .filter-region {
      width: 50%;
      margin: 1rem 1rem;
    }
  }
}
